@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&family=Roboto&display=swap");
.container-carousel {
  background-color: #1a1a1d;
}

.top-10-movies {
  width: 80%;
  height: 400px;
  margin: auto;
  background-color: #1a1a1d;
  overflow: hidden;
  position: relative;
}
.top-10-movies .carousel {
  width: 90%;
  margin: auto;
}
.top-10-movies .arrow {
  position: absolute;
  top: 40%;
  font-size: 80px;
  font-weight: bold;
  color: #c3073f;
  cursor: pointer;
  z-index: 1;
  user-select: none;
}
.top-10-movies span:nth-of-type(2) {
  right: 0.1%;
  text-align: right;
}
.top-10-movies span:nth-of-type(1) {
  left: 0.1%;
  text-align: right;
}
.top-10-movies .movies {
  width: 100%;
  background: #1a1a1d;
  margin: 10px auto;
  display: flex;
  justify-content: left;
  overflow-x: auto;
}
.top-10-movies .movies::-webkit-scrollbar {
  visibility: hidden;
}
.top-10-movies .movie {
  min-width: 250px;
  height: 350px;
  position: relative;
  left: 0;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin: 10px 20px;
  color: white;
  background-color: #6f2232;
  transition: 0.5s;
}

.loading {
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 130px;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #c3073f;
}
header .header-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
header .header-container h1 {
  font-family: "Oswald", sans-serif;
  color: #1a1a1d;
  font-size: 50px;
}
header .header-container ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header .header-container ul li {
  padding: 20px;
}

.header-container a {
  font-size: 20px;
  color: #1a1a1d;
  font-weight: bold;
}

.test {
  height: 800px;
  background-color: #1a1a1d;
}

.dropdown-icon {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.dropdown {
  display: none;
}

.sidebar.show {
  opacity: 1;
  width: 300px;
  height: 100%;
}

.sidebar.close {
  opacity: 0;
}

.sidebar {
  height: 100%;
  width: 1px;
  position: fixed;
  z-index: 1;
  background-color: #111;
  overflow: hidden;
  padding-top: 20px;
  border-right: #4e4e50 1px solid;
  opacity: 0;
  transition: all 0.75s ease;
}
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #c3073f;
  display: block;
}
.sidebar a:hover {
  color: #6f2232;
}

@media (max-width: 1000px) {
  header .header-container {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 786px) {
  header .header-container h1 {
    font-size: 30px;
  }
  header .header-container a {
    font-size: 16px;
  }
  header .header-container ul li {
    padding: 10px;
  }
}
@media (max-width: 600px) {
  header .header-container {
    justify-content: start;
    align-items: center;
  }
  header .header-container h1 {
    margin-left: 20px;
  }
  header .header-container .dropdown {
    display: block;
    margin-left: 10px;
    cursor: pointer;
  }
  header .header-container .dropdown:hover .dropdown-icon {
    background-color: #414141;
  }
  header .header-container ul {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
