@import "mixin";
@import "var";
@import "carousel";

* {
  margin: 0%;
  padding: 0%;
  font-family: $font-main;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $color-black;
}

header {
  background-color: $color-red-pink;

  .header-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;

    h1 {
      font-family: $font-title;
      color: $color-black;
      font-size: 50px;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;

      li {
        padding: 20px;
      }
    }
  }
}

.header-container {
  a {
    font-size: 20px;
    color: $color-black;
    font-weight: bold;
  }
}

.test {
  height: 800px;
  background-color: $color-black;
}

.dropdown-icon {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.dropdown {
  display: none;
}

.sidebar.show {
  opacity: 1;
  width: 300px;
  height: 100%;
}

.sidebar.close {
  opacity: 0;
}

.sidebar {
  height: 100%;
  width: 1px;
  position: fixed;
  z-index: 1;
  background-color: #111;
  overflow: hidden;
  padding-top: 20px;
  border-right: $color-gray 1px solid;
  opacity: 0;
  transition: all 0.75s ease;

  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: $color-red-pink;
    display: block;
  }
  a:hover {
    color: $color-red-gray;
  }
}

@include tablet-1000px {
  header {
    .header-container {
      width: 100%;
      margin: 0 auto;
    }
  }
}

@include tablet-786px {
  header {
    .header-container {
      h1 {
        font-size: 30px;
      }

      a {
        font-size: 16px;
      }

      ul {
        li {
          padding: 10px;
        }
      }
    }
  }
}

@include mobile-600px {
  header {
    .header-container {
      justify-content: start;
      align-items: center;

      h1 {
        margin-left: 20px;
      }

      .dropdown {
        display: block;
        margin-left: 10px;
        cursor: pointer;
      }

      .dropdown:hover {
        .dropdown-icon {
          background-color: rgb(65, 65, 65);
        }
      }

      ul {
        display: none;
      }
    }
  }
}
